<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geisternetz melden</title>
</head>
<body>

<h1>Geisternetz melden</h1>

<form th:action="@{/report-net}" th:object="${ghostNet}" method="post">

    <label>GPS-Breitengrad:</label><br>
    <input type="number" step="0.000001" th:field="*{latitude}" required><br><br>

    <label>GPS-Längengrad:</label><br>
    <input type="number" step="0.000001" th:field="*{longitude}" required><br><br>

    <label>Geschätzte Größe:</label><br>
    <input type="text" th:field="*{estimatedSize}" required><br><br>

    <label>Name:</label><br>
    <input type="text" th:field="*{reporterName}"><br><br>

    <label>Telefonnummer:</label><br>
    <input type="text" th:field="*{reporterPhone}"><br><br>

    <label>
        <input type="checkbox" th:field="*{anonymous}">
        anonym melden
    </label><br><br>

    <button type="submit">Geisternetz melden</button>

</form>

</body>
</html>
